[2015-10-26 08:00] simonweil opened #2 "Is neovim a good candidate for this list? (label: entry-level)"
https://github.com/neovim/neovim/issues?q=is%3Aopen+is%3Aissue+label%3Aentry-level

[2015-10-26 08:12] MunGell commented on #2
I think so! Are you going to create a PR or should I add it myself?

[2015-10-29 22:14] #2 closed

[2015-11-08 08:44] sindresorhus opened #8 "Add description to projects"
Not all projects are known to everyone, so I think it would be useful if each item had a description, so the user could quickly look for the type of project they're interested in contributing to.

[2015-11-08 12:49] MunGell commented on #8
Thanks @sindresorhus, I think this would be useful too.
I'll add this to my todo.

[2015-11-12 14:12] Natim commented on #8
I am willing to help on that, could you just give me the format you want to use for that?

[2015-11-12 14:29] MunGell commented on #8
Help will be much appreciated!

I have several ideas on the formatting:

1. Remove label info and use brackets for a short description:

2. Put description under the name using raw HTML `<br>`:

3. Use table in each section:

Would be nice to hear your opinions on those ideas or may be you have some better ones in your mind?

[2015-11-12 14:37] Natim commented on #8
Or even:

 - [phpMyAdmin](http://perdu.com/) _(label: newbie)_ — Admin interface for MySQL written in PHP

[2015-11-12 15:30] Natim commented on #8
I have added #12 with a PoC.

[2015-11-12 20:16] MunGell commented on #8
This is awesome, thank you @Natim!

I've just played a little bit with your version and it looks like description is more readable when it starts on new line, especially for the long-titled projects.
Do you mind swapping ` – ` with `<br>` in your PR?

[2015-11-13 09:05] Natim commented on #8
Ok sure.

[2015-11-13 09:55] #8 closed

[2015-11-13 09:55] MunGell commented on #8
Thank you!

[2015-11-16 16:01] bpierre opened #14 "Servo?"
Servo is written in [Rust](http://rust-lang.org/), they are using an `E-easy` tag and this page: http://servo.github.io/servo-starters/

[2015-11-20 22:58] MunGell commented on #14
Hi @bpierre

This project looks interesting, do you mind creating a PR for this?

[2015-12-18 18:11] awesome-bot opened #15 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

 It is currently being used by
- https://github.com/vsouza/awesome-ios
- https://github.com/matteocrippa/awesome-swift
- https://github.com/dkhamsing/open-source-ios-apps

Examples
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://tra

[2016-01-04 21:04] #14 closed

[2016-01-22 00:18] #15 closed

[2016-10-19 00:11] stevemao opened #33 "Tooling"
The whole list is about languages. Would you consider adding some tooling to the list? EG: I believe my list: https://github.com/stevemao/awesome-git-addons is beginner friendly for new git users. Also https://github.com/you-dont-need/You-Dont-Need-GUI is a great place for learning simple cli commands that you would probably do in GUI.

[2016-10-19 03:14] JefMari commented on #33
I think this would fall to category 'GIT' or 'CLI' .

[2016-10-19 04:11] stevemao commented on #33
The concern was I don't want "GIT" to sound like a language.

[2016-10-19 20:59] MunGell commented on #33
Hi @stevemao

Thanks for your contribution.

There many tools, articles and repositories that would be very helpful for beginners, however purpose of this list is to provide beginners with a list of real-world projects where they could practice their skills and that welcome their contribution.

[2016-10-19 22:24] stevemao commented on #33
Thanks @MunGell

[2016-10-19 22:33] #33 closed

[2016-11-23 09:42] GiacomoLaw opened #52 "HTML?"
Why not HTML projects? 😄

[2016-11-24 00:25] MunGell commented on #52
Hey @GiacomoLaw

Feel free to send a PR if you find any ;)

[2016-11-24 23:40] #52 closed

[2016-12-27 10:19] JefMari opened #63 "broken link"
[Hanami](https://github.com/search?utf8=%E2%9C%93&q=user%3Ahanami+state%3Aopen+label%3Aeasy&type=Issues&ref=searchresults) has broken link.

[2016-12-27 10:49] MunGell commented on #63
@JefMari thanks for checking

Hanami have no relevant issues yet, but they promised to fix it soon.

[2016-12-27 11:08] JefMari commented on #63
Should the link change to this? [Hanami](https://github.com/hanami/hanami/labels/easy)
or not?

[2016-12-29 15:35] MunGell commented on #63
They have several repositories and want to link to all "good for beginners" issues with one link, hence link is to search results.

It is not the most easy to read way of displaying issues, but it will allow us not to have a dozen of links to sub-repositories of one project.

I will think of how to deal with projects of that structure to present it in a better way here.

[2017-01-04 02:16] JefMari commented on #63
For now, will closed this.

[2017-01-04 02:16] #63 closed

[2017-03-02 18:20] mhoare opened #77 "Any chance of creating a List of elm-lang related projects?"

[2017-03-02 18:32] MunGell commented on #77
Hi @mhoare

Absolutely, there are no restrictions on which languages are listed here.
Please feel free to create a new category if you have a beginner-friendly repository in mind.

Or let me know which Elm-based project we are missing here and I will add it together with the category.

Thanks

[2017-03-03 06:57] JefMari commented on #77
+1

[2017-03-03 13:28] mhoare commented on #77
Awesome, Ill try to find a few which are beginner friendly and ask others what they would also add.

[2017-03-03 13:28] #77 closed

[2017-04-21 22:12] NatKarmios opened #86 "Cliquet is Deprecated"

[2017-04-22 21:11] MunGell commented on #86
Thank you! Removed from the list

[2017-04-22 21:11] #86 closed

[2017-04-29 15:57] sahildua2305 opened #88 "Rename Docker to Moby"
[https://github.com/moby/moby/labels/exp%2Fbeginner](https://github.com/moby/moby/labels/exp%2Fbeginner)

[2017-05-10 05:40] MarloweW opened #97 "List mitmproxy twice"
Should remove one ?

[2017-05-10 18:15] MunGell commented on #97
Hi @MarloweW

Thanks for spotting this issue!
Yes, one should removed. Please let me know if you are planning to create a PR to remove it, otherwise I will remove it myself.

Thanks

[2017-05-11 04:41] #97 closed

[2017-05-30 12:09] DrMcCoy opened #103 "Please take xoreos off your list"
Hej!

Could you please take xoreos off your list? Thanks.

I did have a few tasks marked as for beginners, but they've been filled long ago and I struggle to find things to do that actually work for as entry-level tasks. xoreos is perhaps not the right project for this, since most open tasks are quite in-depth from the get-go.

[2017-06-09 19:13] #103 closed

[2017-06-21 04:06] bradarv90 opened #113 "Yarn's label for beginner issues is now `good-first-contribution`"
Change label for yarn from `label:"good first bug" ` to `label:good-first-contribution`

[2017-06-22 14:17] MunGell commented on #113
Hi @bradarv90

Thank you for flagging this issue.
I am going to make it an issue for new contributors to fix.

What needs to be done:
1. Label for Yarn project needs to be changed to `good-first-contribution`
2. Link for Yarn project needs to be changed to `https://github.com/yarnpkg/yarn/labels/good-first-contribution`

Thanks

[2017-06-22 14:20] MunGell commented on #88
Hi @sahildua2305

Thank you for raising this issue. I am going to mark it as "beginner-friendly", so a new contributor will be able to pick it.

What needs to be done:

1. Docker to be re-named to Moby in the list
2. Link to the project should be changed to https://github.com/moby/moby/labels/exp%2Fbeginner

Thanks

[2017-06-22 14:24] #88 closed

[2017-06-29 08:05] #113 closed

[2017-07-03 05:22] williamsshedrick opened #117 "Please help!"
This is not really an issue but i am new to gitHub and am lost. Just trying to figure out how to contribute code to my first project with the skills that i have. If you can help that would be amazing thanks!

[2017-07-09 19:39] gaetanoma commented on #117
I'm sorry William.  I'm new too. At the moment I'm on stack overflow and I decided to open this account to participate in an open source project. I don't know which one. If interested on stack overflow I'm gaetanom and I'm improving my JavaScript and jQuery knowledge.  After,  I'll start with reactjs.  I'm looking for a remote job.  I worked 30 years. ....  See you soon.

[2017-07-10 12:45] MunGell commented on #117
Hi,

These links could be helpful for you:

* [First Timers Only](https://medium.com/@kentcdodds/first-timers-only-78281ea47455)
* [What open source project should I contribute to?](https://medium.com/@kentcdodds/what-open-source-project-should-i-contribute-to-7d50ecfe1cb4)
* [How do I start my career as python developer?](https://www.quora.com/How-do-I-start-my-career-as-python-developer)
* [Whic

[2017-07-10 12:45] #117 closed

[2017-07-15 08:26] Logan1x opened #122 "Can i add an awsome place for beginner's"
@MunGell  actually i am a new to open source world and i find out that an github repo and slack group by [open-source help community](https://github.com/OpenSourceHelpCommunity) so if you grant permission i add pr. what do you think let me know!!

[2017-07-15 12:18] PeriGK commented on #122
I believe if you follow the guidelines that are shown here, the guys will be fine and you dont need any permission.

https://github.com/MunGell/awesome-for-beginners/blob/master/CONTRIBUTING.md

[2017-07-15 12:35] Logan1x commented on #122
@PeriGK  actually it's org not repo so that why asking

[2017-07-15 18:52] MunGell commented on #122
Hey @Logan1x

Not sure I am following what you are asking for.

@PeriGK is right, you don't need any special permission to create a PR in this repository.

[2017-07-16 07:58] Logan1x commented on #122
Hey @mungell I know i don't need permission but please have a look at link in previous comments, its an repo not an module/library.

[2017-07-23 06:37] nbkhope opened #124 "Label `easy-fix` does not exist for `chai` repository"
See for yourself, https://github.com/chaijs/chai/labels

[2017-07-23 06:39] nbkhope opened #125 "Webpack no longer has `easy` label."
Instead, it has the following applicable ones:

* [D0: My First Commit (Contrib. Difficulty)](https://github.com/webpack/webpack/labels/D0%3A%20My%20First%20Commit%20%28Contrib.%20Difficulty%29)
* [D1: Easy (Contrib. Difficulty)](https://github.com/webpack/webpack/labels/D1%3A%20Easy%20%28Contrib.%20Difficulty%29)

[2017-07-24 07:21] MunGell commented on #124
Hi @nbkhope

Thanks for letting me know!
I will remove Chai from the list

[2017-07-24 07:24] MunGell commented on #125
Thank you for the info!

[2017-07-24 07:24] #125 closed

[2017-07-24 07:24] #124 closed

[2017-07-24 07:24] MunGell commented on #122
Sorry, I don't know how to help here.

[2017-07-24 07:24] #122 closed

[2017-08-12 09:49] piranna opened #128 "NodeOS"
[NodeOS](node-os.com) has the [level: easy - first bug](https://github.com/NodeOS/nodeos/issues?q=is%3Aopen+is%3Aissue+label%3A%22level%3A+easy+-+first+bug%22) label, but it has task both for Javascript, C, web development or system administration. How should I include it in the list?

[2017-10-13 16:27] musically-ut opened #153 "Reference @first_tmrs_only Twitter bot."
I am the maintainer of the Twitter bot [@first_tmrs_only](https://twitter.com/first_tmrs_only) which tweets about `first-timers-only` issue as they are created on GitHub. The bot is [open source](https://github.com/musically-ut/first-timers-only-bot) and I may add support for other beginner friendly labels [at some point](https://github.com/musically-ut/first-timers-only-bot/pull/3).

It already h

[2017-10-28 20:29] MunGell commented on #153
Hey @musically-ut

Sorry for the delay, feel free to create a PR!

[2017-10-30 08:04] #153 closed

[2017-11-19 14:40] MunGell commented on #128
Hey @piranna

Sorry for the delay - please include it in both sections of the list

[2017-12-19 20:42] kenshimota opened #181 "Help me.....!"
Buenas tardes, noches y días solamente quería saber si alguno me podría ayudar en la contribución de un  open source soy nuevo en ello de verdad no soy un buen programador aun  tengo que aprender mucho así que me interesa

[2017-12-19 20:45] gbasisty commented on #181
Si, no hay problema. Que necesitas?

El 19 dic. 2017 5:42 PM, "The Mot" <notifications@github.com> escribió:

[2017-12-19 21:53] aervin opened #182 "Add link under "Typescript" for tslint"
Would be great to add a link for [`tslint`](https://github.com/palantir/tslint/issues) under "Typescript." The repo often adds "good first issue" tags and could use some new contributors.

[2017-12-19 23:03] kenshimota commented on #181
que alguien me guie en que y de que forma se puede contribuir pues es mi primer project open source  y mi manejo de programacion es en c algo de c++, php y javascript tengo algunos repositos en mi perfil si quieren verlos ayudarme a estructurar mejor mis codigos y ayudarme a mejorar pues no soy muy habil en esto pero me gustaria ir aprendiendo muchisimo mas :100:  :paintbrush:

[2018-01-10 17:58] larsonthekidrs opened #185 "CMD.IO"
You need to add cmd.io to the list under Golang. This project is by glider labs.

[2018-01-11 13:53] Antrony commented on #185
check

On Wed, Jan 10, 2018 at 11:28 PM, Larson Carter <notifications@github.com>
wrote:

[2018-01-13 20:37] MunGell commented on #185
Hi @larsonthekidrs are you planning to create a PR?

[2018-01-13 20:39] MunGell commented on #182
Hi @aervin

Please feel free to create a PR for this addition!

[2018-01-14 15:26] larsonthekidrs commented on #185
@MunGell what do you mean by that?

[2018-01-14 15:28] MunGell commented on #185
I mean that if you think that there is a project that should be added to the list you could easily create a pull request (PR) to add it there.

Please make sure the project and the PR you create are following [contributing guidelines](https://github.com/MunGell/awesome-for-beginners/blob/master/CONTRIBUTING.md).

[2018-01-18 14:02] #185 closed

[2018-01-29 17:58] Roshanjossey commented on #181
@kenshimota, I’m working on a project to help beginners get started on contributing open source projects.
https://github.com/Roshanjossey/first-contributions/
I'm sure you'll find it useful.

@MunGell, does it make sense to add a link to first contributions at the beginning of Readme?

[2018-01-30 03:24] kenshimota commented on #181
@Roshanjossey Creo que el Readme tiene enlaces a las app mas conocidas de open source debido a que a esta se les hacen muchas contribuciones por ejemplo phpMyAdmin lo traen casi todos los wamp, Lamp, Mamp, que son los servidores de para los distintos lenguajes como python, php o perl y me gustaria apoyarte en la contribucion de tu codigo si me permites

[2018-01-30 05:34] Roshanjossey commented on #181
@kenshimota, take a look at this https://github.com/Roshanjossey/first-contributions/blob/master/translations/README.es.md

[2018-01-30 14:04] valkheim opened #192 "Piwik is now known as matomo"
"Piwik, the community project, will now become Matomo. The only change is our name, everything else stays the same." from https://matomo.org/blog/2018/01/piwik-is-now-matomo/

The following lines in the readme should be adapted
"Piwik (label: Easy Pick)
Piwik is the leading Free/Libre open analytics platform."

[2018-02-04 18:05] kenshimota commented on #181
@Roshanjossey Gracias por tu ayuda espero que puedas leer mis repositositos y comentarlos esto me hara crecer en la programacion ya que lo que al vez yo no vea como un problema, tu si lo llegues a detectar asi ademas estoy en un proyecto de c++ muy interesante dentro de unos dias lo subire en cuanto pueda

[2018-03-05 18:16] nebrelbug opened #199 "Make a Website"
I think that it would be a great idea to have a website for this project, where users could easily see qualifying projects. Anybody else think this would be a good idea? I'd be happy to help with building it.

[2018-03-05 18:30] marcelosdm commented on #199
I agree!!

[2018-03-05 21:10] ascii-dev commented on #199
I also agree and I would be glad to help with building it... @nebrelbug should we build it???

[2018-03-05 21:13] NassimBounouas commented on #199
Totally agree with this suggestion !

[2018-03-05 21:18] rinilkunhiraman commented on #199
Yes and I would like to be part..

[2018-03-05 22:39] nebrelbug commented on #199
Great! @ascii-dev @rinilkunhiraman @NassimBounouas @marcelosdm if @MunGell likes this idea too, he could create a branch and we could fork it. Otherwise, we could fork now and start working... what do you think?

[2018-03-05 22:48] ascii-dev commented on #199
I think we should fork now and start work. I think if @Mungell sees what we've achieved, it'll help him make his decision. @nebrelbug

[2018-03-05 23:13] nebrelbug commented on #199
That sounds good. Should I create the fork?

[2018-03-05 23:15] ascii-dev commented on #199
Yes @nebrelbug. You create the fork, we'll fork from yours and start working on it.

[2018-03-05 23:17] nebrelbug commented on #199
Done. https://github.com/nebrelbug/awesome-for-beginners

[2018-03-05 23:23] ascii-dev commented on #199
Great. I'll look into it now. So, what are we developing the website with and how's it gonna function? What do you suggest?

[2018-03-05 23:25] nebrelbug commented on #199
I think for now, at least, we should use GitHub Pages. As far as Jekyll vs. HTML, I don't really have a preference. You?

[2018-03-05 23:27] ascii-dev commented on #199
Yeah... We can do html for now and get to hear what @MunGell feels first.

[2018-03-05 23:30] nebrelbug commented on #199
Sounds good

[2018-03-05 23:58] marcelosdm commented on #199
I forgot to say that I wanna help too!! I don't know exactly how , but count on me!!

[2018-03-06 00:01] nebrelbug commented on #199
Great! Thanks @marcelosdm!

[2018-03-07 19:27] wchandler2018 commented on #199
Hi, I am beginner but I would love to be involved if possible

[2018-03-07 23:31] nebrelbug commented on #199
Great! The fork is at https://github.com/nebrelbug/awesome-for-beginners. Thanks @wchandler2018!

[2018-03-08 10:09] JohnSquare commented on #199
Hi! I am beginner too and I would like to participate with you! I have a question... Why do we fork? Isn't more logical do a new repository for a new project? (Sorry for my english, I am learning yet....)

[2018-03-08 14:53] nebrelbug commented on #199
@JohnSquare, we're forking because the plan is to eventually, if @MunGell agrees, merge our website into this repository. We're using the same projects too.

[2018-03-08 16:57] JohnSquare commented on #199
Thanks for your answer @nebrelbug, but i have a lot of questions about this web, where could I see more information? I am really excited about this project.

[2018-03-08 17:50] nebrelbug commented on #199
You can check out the fork so far at https://github.com/nebrelbug/awesome-for-beginners, and check out the issues & pull requests

[2018-03-12 07:05] tushar-nitave commented on #199
I would like to be part of it.

[2018-03-12 10:08] JohnSquare commented on #199
That's it @nebrelbug. What is the web idea?

[2018-03-15 06:33] gauravsood1410 commented on #199
I would love to get involved in this too, but I'm a noobie, can anyone suggest me how do I immediately get started with it?

[2018-03-15 06:52] JefMari commented on #199
Question, Why need to fork where you can simply just create a github page with the repository?

[2018-03-15 17:40] nebrelbug commented on #199
@JefMari we wanted to do that so we can have a polished website when we submit a pull request. @gauravsood1410 Check out our repo and create a repo asking how! I'm sure there are plenty of things you could do.

[2018-03-17 13:26] lonewolf9277 commented on #199
Hi I'd like to be involved too.

[2018-03-23 08:55] s18692001 commented on #199
I'm interested in this project!

[2018-03-23 16:44] mrcolo commented on #199
Hi! I would like to contribute too.

[2018-03-25 20:12] ShuviDola commented on #199
Hello, I also want to help.

[2018-03-29 17:31] Meikay commented on #199
Hi @nebrelbug ! I'm new, could I help build the website too?

[2018-03-30 10:25] hariprasad01 commented on #199
Hey guys, can i help in this project too?

[2018-04-03 14:03] hiteshramani opened #203 "Scrapy Label Rectification"
The label given to scrapy repository first time contributors is "easy" although, in their repo the label is mentioned as "good first issue"

I'll take this up and create a PR soon.

[2018-04-04 02:02] mrcolo commented on #199
Why don't we create a slack team?

[2018-04-07 23:30] nebrelbug commented on #199
This sounds great! For anyone who wants to help, or has questions about the project, head over to the forked repo.

[2018-04-19 07:09] trivikr commented on #182
TSLint was added in #187
This issue can be closed

[2018-04-27 06:31] amulya349 opened #211 "Pylearn2 seems to be dead"
Hi,
Pylearn2 is dead, as commented by its owner in a post.

https://github.com/lisa-lab/pylearn2/issues/1405

[2018-05-07 14:56] #182 closed

[2018-05-07 15:42] #203 closed

[2018-05-07 15:55] MunGell commented on #211
Thanks @amulya349 for raising this, marking it with relevant tag

[2018-05-07 15:58] MunGell commented on #192
Thank you @valkheim

@usaandi have fixed this issue, so I am closing it

[2018-05-07 15:58] #192 closed

[2018-05-26 08:24] Linkerist opened #215 "Are these projects really beginners-friendly?"
Well, this is an awesome repo.

But, is really these projects beginner-friendly?

For example, *electron* is quite a big project for C++ beginners, the label we sticked is *good-beginner-issue*, but beginners' issues may be similarly, sometimes repeated issues proposed over and over again.

Another example is *tensorflow*, an open source machine learning framework. It is an awesome project indeed,

[2018-06-11 13:46] zivanovicb1 opened #218 "Captain is not built with Go"
_captain (label: first-timers-only)_  directs to [dav-js](https://github.com/DAVFoundation/dav-js/labels/first-timers-only) lib, which is built with JavaScript.

[2018-06-11 19:24] MunGell commented on #218
Hi @zivanovicb1

Thank you very much, I believe this issue is addressed in PR #217

I will close this issue as it will be resolved today

[2018-06-11 19:24] #218 closed

[2018-06-14 07:38] BBloggsbott opened #219 "An opensource project for beginner and intermediate Java learners to contribute to and learn from"
https://github.com/BBloggsbott/BillingSystem

[2018-07-02 11:58] oxmap opened #222 "Some of projects have not issues for label or archived."
I just went through JS section and saw that many projects has no issues for corresponding labels. And some of projects archived at all.

[2018-07-03 07:46] vvscode commented on #222
Only one is archived (https://github.com/MunGell/awesome-for-beginners/pull/223) and the fact, that right now there are no labeled issues in some repos - so what? it might be

[2018-07-03 07:49] oxmap commented on #222
Firstly archived project  in pull request.  Close.

[2018-07-03 07:49] #222 closed

[2018-07-09 11:34] taruchit commented on #199
Hi, I am too a beginner; and would want to learn & contribute to the project.

[2018-07-11 09:16] nebrelbug commented on #199
@taruchit that'd be great! Head over to the repo [here](https://github.com/nebrelbug/awesome-for-beginners)

[2018-07-15 11:07] sonusharma07 commented on #199
Hi, i would like to contribute in your project ,this will be my first project if you count me in .

[2018-07-16 13:06] nebrelbug commented on #199
Sounds great! We’d love your help!

[2018-07-17 14:07] keerthanasriranga commented on #199
Hey, I'd like to contribute too.

[2018-07-18 12:22] aeidelos commented on #199
Yes, and i also want to contribute :+1:

[2018-07-18 22:48] nebrelbug commented on #199
@keerthanasriranga @aeidelos Great! Head over to the repo!

[2018-07-29 16:08] lloydlions commented on #199
Hello. Please count me in, i want to join this project. Thanks.

[2018-07-30 14:58] nebrelbug commented on #199
Thanks @lloydlions!

[2018-08-12 06:54] #128 closed

[2018-08-12 06:54] #181 closed

[2018-08-12 06:54] #219 closed

[2018-08-17 06:01] yati1998 commented on #199
Hello, Can I join this project now?
Thanks

[2018-08-22 00:37] tayarndt commented on #199
I agree. Lets do it

[2018-08-22 00:38] tayarndt commented on #199
I want in also.

[2018-08-22 01:54] nebrelbug commented on #199
@tayarndt, @yati1998 Great! Head over to the forked repo and make a pull request! See above or in the forked repo for ideas.

[2018-09-05 14:55] stanmill commented on #199
Im in

[2018-09-05 16:52] yati1998 commented on #199
Ohk sure..I haven't looked into the idea but will shortly check the repo...
It will be great if we could have a slack group for the easy conversation
and discussion about the website

On Wed, Aug 22, 2018, 07:24 Ben Gubler <notifications@github.com> wrote:

[2018-09-05 17:06] robertVclements commented on #199
I would also like to get involved in this project. Can I still join?

[2018-09-05 17:35] nebrelbug commented on #199
@yati1998 @robertVclements @stanmill any help is appreciated!

[2018-09-09 19:03] stanmill commented on #199
Hey lets create a slack group

On Wed, Sep 5, 2018 at 1:35 PM Ben Gubler <notifications@github.com> wrote:

[2018-09-10 13:55] nebrelbug commented on #199
@stanmill why don't you suggest that on the repo

[2018-09-10 14:31] stanmill commented on #199
Cuz i was on my phone when I wrote it soo I don’t have the url of the git
repo

On Mon, Sep 10, 2018 at 9:56 AM Ben Gubler <notifications@github.com> wrote:

[2018-09-10 15:55] nebrelbug commented on #199
@stanmill great! Sorry, that was meant to be a suggestion, not a criticism.

[2018-09-10 19:51] Pkalra7 commented on #199
Room for other junior developers/beginners to join in?

[2018-09-10 22:19] nebrelbug commented on #199
Yes

On Mon, Sep 10, 2018 at 1:52 PM Pritish Kalra <notifications@github.com>
wrote:

[2018-09-12 14:07] Antrony commented on #185
Antro A has invited you to join Antro A's Team

Joining the team will give you access to the team's pipelines, contacts and email

Current Team Members

Owners: Antro A

Members: asterisk-dev@lists.digium.com, reply@reply.github.com, Antro A, deepa@geekyspider.com, dev@wso2.org

Current Pipelines

Bugs, Job Applications, Investment Deals, Blank

Accept Invite
( https://www.streak.com/teaminvite?em

[2018-09-13 20:21] stanmill opened #235 "slack"
can someone make a slack group so that its easy for us to communicate.

[2018-09-14 05:07] vvscode commented on #235
https://join.slack.com/t/awesome-for-beginners/shared_invite/enQtNDM0OTEwMDYwNTQ1LWQ4NDc0NDgxNzY3YjEzMTZlZjY0MGMyNjVkMTZlMWNmMTdmMjllYzk1NmQ0MjA1MmY1OWZkNmYyYjkyZjIxN2E

[2018-09-14 12:36] stanmill commented on #199
Everyone this is the slack group join
https://join.slack.com/t/awesome-for-beginners/shared_invite/enQtNDM0OTEwMDYwNTQ1LWQ4NDc0NDgxNzY3YjEzMTZlZjY0MGMyNjVkMTZlMWNmMTdmMjllYzk1NmQ0MjA1MmY1OWZkNmYyYjkyZjIxN2E

[2018-09-14 12:36] #235 closed

[2018-09-25 08:57] Chaitanyate opened #236 "Chaitanya"
I would like to work upon this project

[2018-09-25 08:57] Chaitanyate commented on #236
I would like to work upon this project

[2018-09-25 08:58] Chaitanyate commented on #199
Iam also likely to work upon this project

[2018-09-26 05:50] sushil763 commented on #199
I also want to contribute to the project.

[2018-10-04 15:59] aryanaces commented on #215
Yea in my opinion these projects are not for absolute beginners , in fact they are for the intermediate developers who have already building some projects .
But this repo can still be useful for the people who are learning to add pull requests , by simply adding some link/information that they think might be helpful for the beginners .

[2018-10-10 14:57] #236 closed

[2018-10-13 12:44] kehsiberry commented on #199
Can I contribute? 🤗
New here

[2018-10-23 22:35] vjs3 opened #281 "Removing un active projects from the list"
There are some projects on the list which are not active anymore like this [one](https://github.com/johnstonbl01/clementinejs). I would love to remove those to keep the list up to date.

Let me know if I can make a PR for same.

[2018-10-27 22:33] koolamusic commented on #199
I think this is a great idea,
- Has anyone thought about using Jekyll and Github Pages

I think it should be pretty straightforward to use it and hit the ground running. while maintaining contributions via a readme

[2018-11-01 20:37] khusnetdinov opened #298 "Beginners, juniors bootcamp project."
We have an organization [HowToHireMe](https://github.com/howtohireme). In this organization, we keep several repositories for junior (beginner) developers. Currently, we have 3 [juniorjobs](https://github.com/howtohireme/juniorjobs), [ruby-fundamental](https://github.com/howtohireme/ruby.fundamental), [give-me-poc](https://github.com/howtohireme/give-me-poc) projects in active development .

Our m

[2018-11-03 11:11] khusnetdinov commented on #298
@vvscode Problem fixed with the site. One point, this site just our main commercial organization, that sponsored mentors who teach junior developers.

[2018-11-12 09:15] anjaliparmar commented on #298
Hello,

[2018-11-12 09:17] anjaliparmar commented on #298
Hello,
I'm learning python, and i want to contribute in your project.

[2018-11-12 09:17] anjaliparmar commented on #281
Hello,
I'm learning python, and i want to contribute in your project.

[2018-11-12 09:18] anjaliparmar commented on #215
Hello,
I'm learning python, and i want to contribute in your project.

[2018-11-12 09:22] khusnetdinov commented on #298
@anjaliparmar, Do you want to be a part of our boot camp?

[2018-11-12 09:32] khusnetdinov commented on #298
@anjaliparmar It's really possible. In our Bootcamp, we create projects for open source. Something useful. We can take any idea for a small project and try to create and release it. Our Mentors can help in realization. Mail point here project free of charge and aims to be useful for python or other developers.

[2018-11-12 09:41] anjaliparmar commented on #298
Okay sure i will do that..

[2018-11-12 10:43] abonello commented on #298
Where can I find more about this bootcamp?

[2018-11-16 22:08] electronF commented on #199
Hello!
How are You?
What project are you talking about?

Le samedi 27 octobre 2018, Andrew Miracle <notifications@github.com> a
écrit :

[2018-11-18 01:33] koolamusic commented on #199
I am referring to this Repo
hosting it using gh-pages Github Pages

creating a gh-pages branch will automatically publish this readme to a Github pages and give this repo a website URL, with some styling it should look amazing.

[2018-11-21 20:35] khusnetdinov commented on #298
@mraza007 We are looking for Ruby, JS, HTML / CSS contributors.

[2018-11-21 20:36] khusnetdinov commented on #298
@anjaliparmar Unfortunately, our python mentor busy until the new year.

[2018-11-21 21:31] mraza007 commented on #298
Sure I can help with JS HTML and CSS since I need to brush up my skills
On Wed, Nov 21, 2018 at 3:36 PM Marat Khusnetdinov <notifications@github.com>
wrote:

[2018-11-22 06:15] khusnetdinov commented on #298
@mraza007 I can help you with front-end skills, try to solve https://github.com/howtohireme/give-me-poc/issues?q=is%3Aissue+is%3Aopen+label%3AFront-end We give any kind of assist to help developers grow up.

[2018-11-23 00:35] mraza007 commented on #298
I am currently looking at it. I'm not sure how to get started on this

[2018-11-23 07:53] khusnetdinov commented on #298
@mraza007 What problems do you stop?

[2018-11-23 07:57] khusnetdinov commented on #298
Try https://www.givemepoc.org/

[2018-11-25 01:37] mraza007 commented on #298
Will work on this soon

[2018-11-26 17:16] kam773 opened #306 "add aurelia.js to JavaScript category"
Hello, I would like to contribute to this project adding aurelia.js framework to javascript category.

[2018-11-27 16:12] vvscode commented on #306
do they have beginners label? PR is welcome

[2018-11-27 16:29] maitiz opened #307 "Bom site para aprender"
Bom site para aprender

[2018-11-28 20:57] kam773 commented on #306
nope, didn't check it earlier

wt., 27 lis 2018 o 17:13 Vasiliy Vanchuk <notifications@github.com>
napisał(a):

[2018-11-29 20:37] vvscode commented on #306
Looks like it's worth first to check ))

[2018-12-12 15:49] #307 closed

[2018-12-12 15:53] MunGell commented on #281
Hi @vjs3

You don't need my permission to create a PR :)

Removing not active project will be very helpful, I will appreciate your contribution.

[2018-12-12 15:53] #281 closed

[2018-12-12 16:06] MunGell commented on #215
Hi @Linkerist

Thanks for your question – it is relevant and needs to be clarified.

The original idea of this list was to collect links where beginner contributors (but not beginner developers) will be able to become part of open source community.

I would prefer to stick to this idea. I don't think absolute beginner developer will benefit from participating in open source and vice versa.
However

[2018-12-27 05:15] BachAmadou opened #315 "Request for contribution"
Hi my name is Bachir, l would like to contribute to your projects. Im a junior developer and l specialise in front end: html, css and javascript. thanks

[2018-12-27 07:51] vvscode commented on #315
@BachAmadou  Have you read about the project?

[2019-01-08 21:18] oxr463 commented on #215
But perhaps there may be some really talented developers who are just new to open source.

And even in large projects, there are simple tasks that need doing but none of the core developers have time for.

[2019-01-13 20:20] albertcamin commented on #215
Hi! I'm just starting to learn Python and how to use Github. I will try to follow this project and contribute

[2019-02-08 05:43] Ioanniskokkas commented on #298
Hello, I'm learning Python, how can I contribute in your project?

[2019-02-09 22:05] ezaquarii opened #324 "Is this project alive?"
I see that PRs are not being merged since 2017. Is it still alive?

[2019-02-09 22:09] arnavb commented on #324
You probably meant December 2018 but yeah there has been almost 3 months of inactivity.

[2019-02-11 16:50] MunGell commented on #324
Yes, but I am struggling with the volume of PRs and reviews required.
So PR merges are slow and take time

You can help by going through the PRs and :+1 them if they meet CONTRIBUTING guidelines.

[2019-02-11 17:10] #315 closed

[2019-02-11 17:10] #306 closed

[2019-02-14 21:29] #324 closed

[2019-02-16 17:29] co16353sidak opened #325 "Brave-Laptop repository currently linked is now read-only"
The `brave-laptop` repository currently linked is now read only and they have shifted their code base to a new repo namely, `brave-browser`.

Seems like a simple fix, would love to work on this and submit a PR

cc: @MunGell

[2019-02-17 04:49] vvscode commented on #325
just do it

[2019-02-18 06:54] visalrotanak commented on #298
Hello I'm learning HTML, can i contribute in your project?

[2019-02-18 09:16] khusnetdinov commented on #298
@visalrotanak Sure just register in our project on symbiod.org

[2019-02-18 09:19] khusnetdinov commented on #298
@Ioanniskokkas Currently we don't have python really experienced mentor, and project. But if you offer a small project for creation we can help you to implement it. The project must be for open source and free to use. I hope our background in python lang will be enough to help you.

[2019-03-06 15:41] TrevorAbram commented on #298
How can I get started with this? I've created some rails projects already but looking to learn more.

[2019-03-06 15:56] khusnetdinov commented on #298
@TrevorAbram Sure.

[2019-03-09 23:23] #199 closed

[2019-03-11 19:29] TrevorAbram commented on #298
How do I get started? Is there a specific link to follow?

[2019-03-14 14:24] #325 closed

[2019-03-14 22:32] zootechdrum commented on #215
Hello I would also like to contribute to your project. Where can I start?

[2019-03-16 08:20] MunGell commented on #215
Sorry, I have to lock this issue as it gets irrelevant comments e.g. how to contribute to this repository. I pinned it in the issue list.

Please open a new issue if you have something to say on the topic and reference this issue for linking.

[2019-03-25 22:15] skaundin commented on #298
Hi, I am an experienced embedded engineer transitioning to web development. I would like to work on issues in javascript. Do you have any ? Thanks !

[2019-03-26 04:57] vvscode commented on #298
@skaundin  have you checked this https://github.com/MunGell/awesome-for-beginners#javascript ?

[2019-04-06 07:52] #298 closed

[2019-04-30 11:03] paramt opened #341 "Broken link"
On the second line of the README

The `First Timers Only` link leads to a deleted blog post... I think it's better to change it to

[2019-05-06 14:27] MunGell commented on #341
Hi @paramt

Looks like @kentcdodds has moved this post to his own blog, it is now available here: https://kentcdodds.com/blog/first-timers-only

Please feel free to create a PR to correct the link

Thanks!

[2019-05-06 16:07] kentcdodds commented on #341
Thanks for keeping that updated!

[2019-05-06 16:10] #341 closed

[2019-06-03 15:46] DouglasUrner opened #352 "Non-GitHub projects like Drupal"
[Drupal.org](https://drupal.org) has a culture that is very welcoming to beginners and a well established mentoring program as well. But, although Drupal uses git...
* It isn't hosted on GitHub, which means
* There are no GitHub issue labels.
Would it still be a welcome addition to the list (with information in the description on how to get started)?

[2019-07-06 09:50] MunGell commented on #352
Hi @DouglasUrner

Yes, please feel free to create a PR with a link to the most appropriate place where beginners should start their journey to contribute to Drupal.

Thanks

[2019-07-18 22:45] Ding-Fan opened #360 "JavaScript - Operation Code is archived"
https://github.com/OperationCode/operationcode_frontend/labels/beginner%20friendly

[2019-07-25 14:37] dmitrij-schmidt opened #362 ""Your First PR" project is inactive"
According to their tweet https://twitter.com/yourfirstpr/status/1067159601894883328 and looking at activity feed, "Your First PR" project is inactive for about a year.

It might be good to remove it from README.

[2019-07-29 21:15] MunGell commented on #360
Thanks!

[2019-07-29 21:15] #360 closed

[2019-08-03 19:20] MunGell commented on #362
Thanks @dmitrij-schmidt

Feel free to create a PR to remove this link from the repo

[2019-08-09 18:59] Mgosi commented on #362
Hello, I created a PR to remove the link from the README file. Please have a look.
Thank you

[2019-08-09 19:07] Mgosi commented on #362
#366

[2019-08-10 14:19] vvscode commented on #362
I see the link in section `Inspired by...` so see no point in removing the link (IMHO)

[2019-09-11 01:40] olawaledavid11 commented on #298
Hello, i am a web developer, my skills include HTML CSS JavaScript jQuery bootstrap c# Asp.ner entity framework sql server. I'll love to work on any project that requires these skills to gain experience

[2019-09-16 01:57] mediter opened #374 "nothing for Swift?"

[2019-09-16 10:23] MunGell commented on #374
Feel free to add popular Swift repositories that accept new contributors to the list!

[2019-09-16 10:23] #374 closed

[2019-10-01 11:44] gmonu commented on #362
Thank you so much @dmitrij-schmidt

I see the link and created a PR to remove the link from your readme file . Please find it yourself and you will not get any error

[2019-10-01 15:20] #362 closed

[2019-10-01 19:33] MunGell commented on #352
I guess the most appropriate link will be https://www.drupal.org/getting-involved-guide

Something like this:

- [Drupal](https://www.drupal.org/getting-involved-guide
) _(label: N/A, link to external website)_ <br> Leading open-source CMS for ambitious digital experiences that reach your audience across multiple channels.

[2019-10-01 19:34] #215 closed

[2019-10-01 20:24] #352 closed

[2019-10-04 19:21] Atheer2104 opened #428 "Add projects for swift language"
Could you possible add project that are built with the swift 5 language.

[2019-10-08 01:32] cherryWood55 commented on #428
I would like to work on this, if it's open.

[2019-10-08 09:04] MunGell commented on #428
Feel free to create PRs to add Swift projects that match list entry criteria:

* Project should be well maintained (more than one maintainer, community support)
* Project should have appropriate label for beginners

Thank!

[2019-10-11 17:43] MUBEENAUQI opened #471 "hello-world"

[2019-10-11 20:23] manavendrasen commented on #471
Is this an issue?

[2019-10-12 08:49] RonitSachdev commented on #471
What's the issue?

[2019-10-12 10:20] dro-1 commented on #360
Hello, how can I work on this isssue

[2019-10-14 10:07] #471 closed

[2019-10-17 23:36] #428 closed

[2019-12-19 04:54] Shi-Jianmin opened #590 "In the Python session of the README"
When clicking the mitmproxy link, no result is matched.

I couldn't find the "good first contribution" label on the mitmproxy.
It's better to change.
Maybe it's changed to the "help wanted" label on the README.

[2019-12-19 08:09] vvscode commented on #590
PR is welcome

[2019-12-19 17:33] LuisMBarrera commented on #590
Hi! I just applied this changes on the pull request #591. Hope it's okay because I didn't ask prior if I could take this issue.

[2019-12-25 12:38] MunGell commented on #590
Thanks @Shi-Jianmin @vvscode @LuisMBarrera !

[2019-12-25 12:38] #590 closed

[2020-02-01 05:32] polilluminato opened #602 "Alphabetic order on suggestions"
I see that **Table of Contents** is in alphabetic order but the suggestions inside each category not, take for example **.NET**,**C#**, **GO**.
I know that in the guidelines new addition goes to the bottom of the relevant category but I think that reading list in alphabetic order is much easier, for example, if I want to search for something.

I could make some  PR to fix orders if it's useful.

[2020-02-07 07:59] polilluminato commented on #602
I think that the Issue is still relevant , I'm waiting for a reply from the mantainer.

[2020-02-12 09:19] pandaseal opened #609 "The project linked "Operation Code" is archived, read-only"
The project Operation Code, listed under Ruby, is archived and converted to read-only (at least the sub-repo that is linked). New link could probably be: https://github.com/OperationCode/START_HERE

[2020-02-12 09:41] vvscode commented on #609
https://github.com/MunGell/awesome-for-beginners/pull/608

[2020-02-14 17:30] zeppaman opened #610 "PR and bot warning"
Following the instructions, I added a project and then opened a PR.

I got this automatic message. There is something wrong with my PR? There is something I missed?

Thank you

[code]

[2020-02-18 22:53] MunGell commented on #602
Hi @polilluminato

Thanks for the offer and sorry for the delay!
Would you be able to create PRs for this re-ordering, I would suggest having a separate PR per category if that works for you - it will be easier to do the checks that way.

Let me know what you think!

[2020-02-18 23:04] MunGell commented on #610
Hey @zeppaman

This is stale bot, it helps me keep this place sane, especially during Hacktoberfest month.
It is closing PRs based on time, not on the content.

Commented in your PR

[2020-02-18 23:04] #610 closed

[2020-02-19 04:52] polilluminato commented on #602
Yeah I think It's a good idea, in this way we can create small pull request and I'll try to do it in a correct way and not like #605

[2020-02-24 11:43] MunGell commented on #609
stalebot, still relevant

[2020-02-25 06:25] #602 closed

[2020-02-27 11:17] MunGell commented on #609
#608 closed this

[2020-02-27 11:17] #609 closed

[2020-02-27 14:02] ZoranPandovski opened #614 "New categories"
I have a few repositories like [Algorithms](https://github.com/ZoranPandovski/al-go-rithms) and [Design Patterns](https://github.com/ZoranPandovski/design-patterns) that are great for first-timers but are not related to the specific language. The idea is `Language doesn't matter, choose the one you prefer`. So, my question here is where to add them, is it ok to add two categories like Algorithms a

[2020-02-27 19:55] gromovadarya90 opened #615 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:04] renata2216 opened #616 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 23:04] ds-designs opened #620 "Spamming"
Watching/Starring this repo causes you to get bombarded with spam emails.

[2020-03-02 15:58] MunGell commented on #620
Hi @ds-designs

This is standard GitHub functionality and is not specific to this particular repository. Any popular repository would cause that to your inbox if you will start watching it without adjusting your Notifications preferences.

Refer to https://github.com/settings/notifications page if you want to change what you want to receive emails on. Also, starred repositories will not be sending

[2020-03-02 15:58] #620 closed

[2020-03-17 14:25] NeOMakinG opened #634 "HTML/CSS Section"
That would be awesome to have an HTML/CSS section, we've some good first issue on PrestaShop repository related with that section

What do you think ? I can do the PR if you want.

[2020-03-23 08:44] luchko-i9 opened #637 "Для начинающих"

[2020-04-02 20:40] drholera opened #640 "Python section. Coala link returns 404"
Hello
I've searched through what I could to contribute with Python and find out that 'coala' link is broken and returns 404. I'm attaching the PR with a correct link.

Best regards.

[2020-04-03 07:31] drholera commented on #640
Sorry, not actual anymore. I think this error was related to yesterday's Github site issue. I'm closing the issue and PR.

[2020-04-03 07:31] #640 closed

[2020-04-06 18:37] #637 closed

[2020-04-06 18:39] MunGell commented on #634
Hey, sorry for the delay, sounds good to me, feel free to add new section

[2020-04-08 08:05] NeOMakinG commented on #634
After some meetings with my team, it looks like we decided to stay in the PHP section, regarding to add more good first issues linked with PHP.

Thanks,
have a good day.

[2020-04-08 08:05] #634 closed

[2020-04-30 18:25] tiagostutz opened #645 "How about using the `/contribute` from GitHub instead of fixed labels on the URLs?"
I was checking some repos and I noticed that the label that the list here is pointed to either does not have any issue assigned or the mantainers changed the used label for beginners.
What do you think about changing the URLs that points to a specific label by the `/contribute` URL that GitHub created for this porpuse (https://github.blog/2020-01-22-how-we-built-good-first-issues/).

For example:

[2020-05-02 07:20] andyguerra commented on #645
I think that's actually a very good idea

[2020-05-03 11:00] Gena928 opened #646 "Thank you"
thank you for your list of projects. It was very helpful for me.

[2020-05-05 18:10] tiagostutz commented on #645
I was checking out the [contribution guidelines](https://github.com/MunGell/awesome-for-beginners/blob/master/CONTRIBUTING.md) and it states a link format that expects to use label and I was thinking that this PR would be almost a "breaking change" in this repo... it would be great if on of the repo maintainers - or even @MunGell - could give a bit heads up here before I start this...

[2020-05-09 14:07] #646 closed

[2020-05-11 20:46] #645 closed

[2020-05-18 21:20] wall03 opened #653 "Where is the HTML and CSS???????"
I am a programmer whom exclusivly knows HTML, CSS, and the very basics of JS. can you please add a section for web dev?

[2020-05-24 23:35] #653 closed

[2020-06-02 16:55] MunGell commented on #653
Hi @wall03

This is community-driven list of open source projects, feel free to add HTML/CSS section with relevant projects in it.

[2020-07-08 14:12] Raghibshams456 opened #668 "List of ML open source"
Can u give list of machine learning open source for beginners or intermediate....I am confused ..

[2020-07-14 15:12] #668 closed

[2020-09-20 16:51] mitchellroe opened #693 "Update Hugo label and link"
The Hugo project label linked to from the README, `exp/beginner`, appears to have been deleted form the project.

[2020-09-25 09:52] jobinkeecheril opened #702 "Adding for python in README.md"
Adding https://github.com/tasnimzotder/hactoberfest-2020 for python developers

[2020-09-26 05:33] sumana-19 commented on #702
Hello @jobinkeecheril , what exactly do I have to do here? Could you please clarify and then assign this to me?

[2020-09-27 11:50] Daniel-Mietchen opened #711 "Add LICENSE"
so as to clarify reusability

[2020-09-27 15:33] AnshMishra2001 commented on #711
@Daniel-Mietchen could you please elaborate on the task to be done. I will be more than willing to contribute.

[2020-09-29 05:11] Parimalisgreat commented on #693
do i just need to add exp/begineer to the README file

[2020-09-29 16:52] sai-lalith commented on #711
Hey, I have done a pull request regards this and hope MIT license would useful

[2020-09-30 14:36] roshnaeem commented on #702
Hey @jobinkeecheril, I want to work on this PR. Do I have to add this link to python projects listed at https://github.com/mungell/awesome-for-beginners#python ?

[2020-09-30 18:28] kirtirajsinh commented on #702
I want to Contribute to this issue. How can I Get Started.

[2020-10-01 00:01] MunGell commented on #711
Hi all,

For license please refer to the bottom of the main page.

[2020-10-01 00:01] #711 closed

[2020-10-01 05:01] jatinjain001 commented on #702
I want to contribute in it??please assign it to me

[2020-10-01 05:03] Abhishk9675 opened #772 "Print Hello world"
I can change this problem

[2020-10-01 06:00] irsayvid commented on #772
should I create a new file and add code or should I do something else. Can you please elaborate I would like to contribute

[2020-10-01 06:04] Shyanukant commented on #772
# this program prints Hello, World! in python
print('Hello, World !' )

[2020-10-01 06:34] Kingmandeep commented on #772
i can change this problem

[2020-10-01 07:04] bingJunior commented on #772
Hello world in Kotlin:

fun main()
{
println("Hello world")
}

[2020-10-01 07:47] MousumiDas625 commented on #772
_//Hello World in Java__

System.out.println("Hello World!!!")

[2020-10-01 08:10] darshandeep opened #783 "Hi"

[2020-10-01 08:19] TreavVasu commented on #772
In Dart
     ` print("Hello world")`

[2020-10-01 09:35] Boobiee commented on #772
#In python
Print("hello world)

[2020-10-01 10:41] Dinethri commented on #772
In Java

public static void main(String args[]){
Now Type the System.out.println("Hello World");

[2020-10-01 10:50] arupam commented on #772
in bash:

[2020-10-01 11:00] emmzzy commented on #772
In Python

Print("hello world")

[2020-10-01 11:41] JohnShiozo commented on #783
hello

[2020-10-01 11:41] bytechef commented on #783
hello

[2020-10-01 11:43] NikhilPrasad0497 commented on #702
I want to contribute in this, Please let me know what needs to be done

[2020-10-01 11:56] RamadhanIbnu commented on #772
In C++

int main() {
  cout << "Hello World!";
  return 0;
}

[2020-10-01 12:10] Harshitbhatt69 commented on #772
In Javascript
`console.log("Hello world")`

[2020-10-01 14:02] aastha-b commented on #772
This is hello world In Java

public static void main(String args[]){
Now Type the System.out.println("Hello World");

This is hello world in Java Script
console.log("Hello world")

This is hello world in python
print('Hello world')

This is hello world in C++
int main() {
cout << "Hello World!";
return 0;
}

[2020-10-01 15:27] Ritika815 commented on #772
Print(Hello World)

[2020-10-01 16:12] Kingmandeep commented on #772
--> In python
print("Hello World")

-->In c++
#include<iostream>
using namespace std;
int main()
{
cout<<"Hello World";
}

--> In java
package main;

public class Mand {

	public static void main(String[] args) {

		System.out.println("Hello World");

	}

}

[2020-10-01 16:19] prathmesh-Chaudhari05 commented on #772
For Python the Basic code is:
`print("Hello World.")`

`print("This is Python 3.6 version.")`

[2020-10-01 16:24] aniket173000 commented on #772
PRINTING HELLO WORLD IN C WITHOUT USING SEMICOLON :
int  main(){
int e=0;
if(printf("HELLO WORLD ."))
e=1;
}

[2020-10-01 17:54] vibhutikathuria commented on #783
hello

[2020-10-01 19:53] SansPapyrus683 commented on #783
hello

[2020-10-01 21:46] #783 closed

[2020-10-01 21:48] #772 closed

[2020-10-01 21:50] #702 closed

[2020-10-06 03:05] ZachHoskins commented on #693
It just appears that the exp/beginner label doesn't exist inside the Hugo project in Github. I didn't see any other beginner-friendly labels in the Hugo project.

[2020-10-08 04:53] crew-guy commented on #693
Alright. So is it ok if I just read through the Hugo project and add these labels wherever you specify or where I feel they're required ?

[2020-10-23 08:50] fennecdjay opened #872 "Is it welcome to add projects?"
I'm the owner of [this](https://github.com/Gwion) organization, towards the development of a musical programming language. This (small for now) community is very welcoming, and I think our repos would make a nice addition to your list, especially since most of them are in `C` and there is only neovim in this category as of now.

I just added the `first-timers-only` label to all repos, using
[code]

[2020-10-29 03:19] nuamahfour opened #888 "Moo"

[2020-11-11 10:08] #888 closed

[2020-11-16 15:25] aryaman-a opened #896 "Help"
Hi, I'm new to GitHub. What all can I do in this repository? Is there any specific project to work on? Also, is it possible for me to code in java and use those programs here?

[2020-11-16 17:11] shivanisorte opened #897 "An unnecessary comma in README.md"
[awesome-for-beginners](https://github.com/shivanisorte/awesome-for-beginners.git) _(label: good-first-contribution)_ <br>
Found an unnecessary comma in a compound predicate in the README.md file.

![Screenshot 2020-11-16 221935](https://user-images.githubusercontent.com/69205415/99283288-cf98d700-285a-11eb-876c-75f6abe96767.png)

[2020-11-17 16:22] #896 closed

[2020-11-24 11:26] praneeth2022 commented on #897
removed unwanted comma in readme #904

[2020-12-11 13:00] SumukhaK opened #914 "Please add mobile technologies too"
Android apps using Java, Kotlin, iOS apps, React native there is so much more which can be added to the list. Please look into them. Thanks and Cheers for the effort.

[2020-12-25 12:53] #897 closed

[2020-12-26 09:01] Lireee opened #917 "Befinner awesome"

[2020-12-27 07:19] harsh6768-svg opened #919 "mobile technologies"
please add the various mobile technologies too in this repository

[2020-12-27 13:29] talentlessguy commented on #917
I'm not sure what this issue is about

[2020-12-27 17:39] #919 closed

[2020-12-27 17:41] MunGell commented on #917
Just spam

[2020-12-27 17:41] #917 closed

[2020-12-30 07:55] byruzyayandy1 opened #921 "Other Crucial Python projects for Newbies"
I think there are other python projects that are very crucial for newbies to get their hands dirty with. I will make a pull request ASAP

[2021-01-09 18:04] agarwalutkarsh554 commented on #921
Hello can i help with this issue.

[2021-01-22 00:45] justtryintolive opened #929 "Tutorial"
To help me learn

[2021-01-27 16:33] binsonsini commented on #929
Tutorial #929

[2021-02-01 05:21] prachi237 commented on #921
how about adding various games build using python libraries.  we can name it as  "games build using python"

[2021-02-02 19:19] Vinoda23 opened #931 "Repo_bigginer"

[2021-03-06 13:12] MUzairS15 commented on #931
Hi
whatto do?

[2021-03-06 17:55] mukesh7405 commented on #931
Hi

On Sat, 6 Mar, 2021, 6:43 pm MUzairS15, <notifications@github.com> wrote:

[2021-03-07 04:28] MUzairS15 commented on #931
Can anyone guide be to make my first contribution to open source

[2021-03-07 04:31] MUzairS15 commented on #931
I would like to work on this issue can you pls tell more about it

[2021-03-27 15:19] a-dera commented on #914
Have you some projects to share with us?
Also, several of the projects don't have a good code of conduct or good documentation. Then, they can't be mentioned here. Remember this list is for beginners.

[2021-04-17 11:50] Keerthicool opened #943 "Mungell"

[2021-04-17 16:43] krishnamore opened #944 "Code"

[2021-04-20 07:01] emmafedina opened #946 "Projects"

[2021-05-04 22:05] mkb3129 opened #949 "Project for beginners"

[2021-05-05 09:33] #949 closed

[2021-05-05 09:37] #946 closed

[2021-05-05 09:38] #944 closed

[2021-05-05 09:38] #943 closed

[2021-05-05 09:41] MunGell commented on #914
Hi @SumukhaK

Feel free to raise PRs for any of the projects you think are worth adding here.

[2021-05-05 09:41] #914 closed

[2021-05-05 09:50] #929 closed

[2021-05-05 09:50] #931 closed

[2021-05-05 10:51] #921 closed

[2021-06-06 07:38] DurveshKumarPal commented on #872
yes, add project

[2021-06-19 02:48] NiharJani2002 opened #958 "Issues"

[2021-06-24 04:54] Uklizdev opened #961 "Remove releases and packages"
Hi, for a better look of your repository, if you wont be using them, you can remove the releases and packages sections,

![image](https://user-images.githubusercontent.com/71178122/123204725-09842880-d48f-11eb-8fbc-b30aa667380e.png)

[2021-06-27 10:23] mishscien commented on #693
I am new to this!. i need learn more

[2021-07-03 16:14] kashifkhan0771 opened #963 "cannot contribute"
Hi, I want to contribute to this but when I `push` i got `remote: Permission to MunGell/awesome-for-beginners.git denied to <user_name>`.

[2021-07-05 07:32] kashifkhan0771 commented on #963
I was new to contribute to open source projects. If anyone else is also having some issues in contributing to open source projects,
this will help you to[contribute to open source projects](https://www.dataschool.io/how-to-contribute-on-github/)

[2021-07-05 07:32] #963 closed

[2021-07-24 21:30] aliicanyasar opened #966 "‏‏‏‏‏‏‏‏"

[2021-07-24 21:33] #966 closed

[2021-08-12 03:50] antonatlasov115 opened #970 "beginner open source"

[2021-08-12 03:50] #970 closed

[2021-08-12 03:53] That1GuyOnTheCouch opened #971 "One"
Depends On Your Applied Perspective

[2021-09-01 09:18] abxhr opened #976 "Remove archived repository from the list - Batavia"
While browsing through the Python Projects, I found that the Repository [`Pybee/batavia`](https://github.com/beeware/batavia/labels/first-timers-only) is *Archived* (being a read-only repository). Hence, I don't think it is relevant to index that project here for people looking to contribute.

(*Amazing work with this repository!* 🚀)

[2021-09-06 08:36] Sai2wan opened #977 "تطبيقات"

[2021-09-09 15:34] #977 closed

[2021-09-09 15:36] #872 closed

[2021-09-09 15:40] MunGell commented on #961
Thanks, this is done now!

[2021-09-09 15:40] #961 closed

[2021-09-09 15:40] #958 closed

[2021-09-09 16:10] MunGell commented on #693
Thanks for flagging!
New label/link should be: https://github.com/gohugoio/hugo/labels/GoodFirstIssue

[2021-09-09 16:12] MunGell commented on #693
Oh, sorry for all those updates, I see @unrealnerd has already created a PR for this fix: #953

[2021-09-17 07:42] MontejoJorge opened #982 "Can i add my own proyect?"
I am doing a project and I would like that beginners can contribute to learn from each other, does a project need to be advanced to be included here?

[2021-09-17 08:00] 65r commented on #982
Ok can you send me your project pictures

در تاریخ جمعه ۱۷ سپتامبر ۲۰۲۱،‏ ۱۲:۱۴ ب.ظ Jorge Montejo <
***@***.***> نوشت:

[2021-09-18 04:27] Satish985 commented on #976
I want to work on this project and fix this problem. Please help and guide me.............

[2021-09-18 04:39] Satish-Tiwari commented on #976
I want to work on this project and fix this problem. Please help and guide me...............

[2021-09-18 15:46] 65r commented on #976
Give me more time

در تاریخ شنبه ۱۸ سپتامبر ۲۰۲۱،‏ ۹:۱۰ ق.ظ Satish Tiwari <
***@***.***> نوشت:

[2021-09-20 21:01] anishlukk123 commented on #982
I dont think it needs to be super advanced

[2021-09-24 11:21] #982 closed

[2021-09-30 17:25] thanosades opened #991 "Remove archived repository from the list -"
I was browsing through the list of JavaScript opportunities and found out that Adobe Brackets is [archived](https://github.com/adobe/brackets/) and read-only. Since nobody can contribute to it anymore, is it okay for me to remove it?

[2021-10-01 16:47] priyakumari02 commented on #976
I want to work on this issue

[2021-10-02 14:58] magbanum opened #997 "Add the 'Hacktoberfest' topic to this repository."
# Hi,

Hacktoberfest 2021 is already started and to make this repository visible to people who want to contribute to open-source projects, I request you to Add the `Hacktoberfest` topic to your repository so that folks know you're participating in Hacktoberfest.

Also, add the `Hacktoberfest` label to any issues in your repository that are ready for contributors to work on.

## Benefits
- Adding t

[2021-10-02 16:24] elenajp commented on #997
Hi,

Sounds good, I would like to contribute. Open source newbie here and I am super happy I found this repo!

Elena :)

[2021-10-02 16:34] magbanum commented on #997
# Hi, Elena.👋🏻

I raised this issue to let them know that Hacktoberfest is going on and they should participate using with this repository.

But as you can see this repository is not active from long time.

If you are a beginner and want to contribute to open-source then I have good news for you.

I am starting new open source community called **Python Community Discussions** on GitHub and you can

[2021-10-02 16:41] elenajp commented on #997
Thanks, still getting the hang of things! I will check it now.

[2021-10-02 16:49] magbanum commented on #997
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">20 GitHub Repos that Helps You to Win Hacktoberfest<br><br>A thread 🧵 👇</p>&mdash; Abhishek (@designerSaha) <a href="https://twitter.com/designerSaha/status/1443455576852217858?ref_src=twsrc%5Etfw">Visit thread</a></blockquote>

[2021-10-02 17:02] tamal-kundu commented on #976
i can fix this issue.. can u assign me for resolving this issue? i am a beginner.

[2021-10-02 17:57] #976 closed

[2021-10-04 16:30] abhishekkumar201005 commented on #997
Hi,I'm new to open source and contribute first time in Hacktoberfest.
please share beginner  friendly repo. to start contribution in open source projects.

[2021-10-04 16:35] magbanum commented on #997
Check out this repository: https://github.com/magbanum/Python-Community-Discussions

[2021-10-11 05:08] limitlessdeveloper commented on #997
Hi @magbanum  I would like to contribute in Java, any repo for that too?

[2021-10-12 16:30] Malik-Abdulaziz-Akbar opened #1006 "Want to Add Machine Learning Algorithms"
Hello, I want to add machine learning projects to this repo. Please assign this issue to me

[2021-10-16 15:29] dev-abir opened #1011 "automated update of the list"
While browsing through the projects, listed in the README file, I found some links are not updated. Like, in some cases, the labels doesn't exist, then there are no open issues with that label, then [this issue](https://github.com/MunGell/awesome-for-beginners/issues/991).

Can we build a script, or an app maybe which will check these links periodically, then host this service somewhere, rather th

[2021-10-29 16:55] #1006 closed, assigned to nobody

[2021-11-12 11:10] magbanum commented on #997
No problem.

[2021-11-23 17:41] Hetarth02 opened #1023 "Where do I list my project?"
Basically, I have a json file in which data is to be added. So, it would be helpful if someone would guide me in choosing the right category to list my project?
I am currently considering to list my project under the `markdown` category.

[2021-11-27 07:23] devlordsam opened #1024 "Projects"

[2021-12-03 09:07] badgujarsachin83 commented on #1024
plesaes close this issue. there is no description for issue.

[2021-12-09 14:23] #1024 closed

[2021-12-12 12:37] MunGell commented on #1023
Hi @Hetarth02

I am not sure I fully understand what your project is about.
Could you please share the link to it so that I can provide meaningful suggestion as to where it would fit best?

[2021-12-19 13:10] Ayushi271 commented on #693
Hii
Can you assign this issue to me?

[2021-12-19 13:21] Ayushi271 commented on #693
Can you please review  the PR #1026

[2021-12-19 15:12] Hetarth02 commented on #1023
Hello @MunGell
In a nutshell, I am trying to create a website where one can get digestible and intuitive definitions of complex concepts.

[2021-12-27 15:48] ademcck opened #1028 "SCAC"
File, directory and vulnerability finder

[2021-12-27 15:50] ademcck commented on #1028
https://github.com/ademcck/scac

[2021-12-28 09:10] ademcck opened #1029 "Personal blog site with Django for everyone."
https://github.com/ademcck/personal-blog-site

[2022-01-07 21:05] #1029 closed

[2022-01-07 21:05] #1028 closed

[2022-02-13 07:43] whatthesamuel opened #1039 "The label for godot engine is wrong"
shouldn't the label for godot engine be "good first issue" instead of "junior job"? there are no results labeled as junior job in the godot issues.

junior job label = https://github.com/godotengine/godot/labels/junior%20job
good first issue = https://github.com/godotengine/godot/labels/good%20first%20issue

[2022-02-25 18:20] bhattabhi013 commented on #1039
Hii
Can you assign this issue to me?

[2022-02-26 13:04] bhattabhi013 commented on #1039
I've fixed the mentioned issue and generated a PR. #1042

[2022-03-02 16:12] sid-r-singh opened #1043 "Add Hugo"
[Hugo](https://gohugo.io/) is one of the most popular open-source static site generators with amazing speed and flexibility.

[2022-03-16 16:51] Sumanth077 commented on #1011
I would love to solve this as I am a beginner .

[2022-03-20 03:44] gthe1andonly commented on #1011
From what I understand is that some links are not updated. We want a script to update them periodically. Can you provide more detail on what those links are? I'd like to tackle this.

[2022-03-22 20:44] #1039 closed

[2022-04-05 18:44] vedant-z opened #1050 "Need to update/remove Godot engine reference"
In the C++ section link to Godot Engine (label : junior job) needs to be updated as that issue is no longer available.

[2022-04-13 18:00] vedant-z commented on #1050
Yup

[2022-04-20 12:36] Anifahb opened #1060 "Update Hugo link"
I noticed the label in the current `exp/beginner` label is now unused in the [Hugo](https://github.com/gohugoio/hugo/issues) repository.

This should be updated to use the `GoodFirstIssue` label.

[2022-05-03 17:30] Danielfercj commented on #1011
Hello, some of the links that are not updated are:
https://github.com/davfoundation/missioncontrol/labels/first-timers-only
https://github.com/davfoundation/missions/labels/first-timers-only
https://github.com/TalAter/annyang/labels/first-timers-only
https://github.com/pouchdb/pouchdb/labels/first%20timers%20only
https://github.com/bevacqua/dragula/labels/first-timers-only
well, at the moment I'm

[2022-05-17 16:12] mohakdev opened #1068 "Adding more beginner friendly C# projects"
Hey, I noticed there are very few `C#` Language Beginner friendly projects. I know some more projects which are perfect for newcomers so can I add those to the list and make a PR?

Some of the projects I want to add are
- [Files](https://github.com/files-community/Files)
- [mono](https://github.com/mono/mono)

and some others

[2022-05-17 20:18] Asantae opened #1069 "Outdated repositories may need to be removed"
Some of the repositories listed have all of the beginner-friendly issues closed. I noticed in the contributing.MD notes some guidelines for open-source repos to this list but was wondering if some guidelines should be added for removing things as well.

[2022-05-17 20:19] Asantae commented on #1069
I should have noted before that I am specifically referring to the Javascript section in the README.md by the way

[2022-06-04 05:16] T-Wesst commented on #1069
Hi @Asantae is this currently being worked on? I would love to contribute.
Just to clarify, you want to remove only the repositories labeled "beginner-friendly" where the issues are closed?

Additionally, what sort of guidelines did you have in mind regarding removing repos?

[2022-06-04 06:32] T-Wesst commented on #1011
@MunGel @dev-abir Feel free to correct me if I'm wrong, but I'd approach this by:

**Github Action**
- scheduled to run "on the 15th of every month"
- Executes a script

**Script**
- reads the README.md
- finds all strings starting with "https://" and ending in "labels/first-timers-only"
- visit each url
- if the page contains "No results matched your search"
- remove the current url from the READ

[2022-06-04 08:28] Asantae commented on #1069
I worked on the javascript section and just did a pull request for it, but only that section. there are a ton of other sections with outdated or inactive links/repos. Would be great if you could work on those

[2022-06-04 08:46] T-Wesst commented on #1011
I wrote a Github Workflow that executes a Python script which parses all the urls into a text. Needs a bit of clean up but would love to push my branch up for others.

I'm done for the night 🫡

[2022-06-04 14:53] T-Wesst commented on #1069
Is this related to #1011 ? If so I have a WIP GitHub Action than runs a Python script. The script reads the README.md file and writes all of the urls into a text file for later use.

[2022-06-04 17:15] Asantae commented on #1069
I actually didn't notice #1011, my apologies. But with that being said I was also including outdated repos/dead links and corrected a few typos. I was also wondering if the py script accounted for other first-timer friendly tags like "beginner-friendly", "difficulty-easy", "first-timers-welcomed" etc

[2022-06-04 18:16] T-Wesst commented on #1069
I'm not able to push my branch up so I'll probably have to fork. I'm trying to get the to correctly filter for all edge cases.
For the most part, I've captured all github and gitlab links but I'm not sure if the filter should only capture "beginner-friendly" or a catch all solution?

I'm having a bit of trouble setting a stop flag at the end of the url
As of right now I'm getting outputs like so:

[2022-06-04 19:24] dev-abir commented on #1011
Yeah good idea, but 2 things..
First will every url start with https:// ?, There may be http://, ftp:// in future?

Secondly, I think it will be better if you don't remove those links from readme.md, rather put some kind of a marking in the readme file (like: outdated), or an automated issue, or maybe a notification to the main contributors? What if the repo is still there, but the first timers li

[2022-06-04 19:56] T-Wesst commented on #1011
I appreciate the clarity. I will look further into handling those cases.

I'm having a bit of an issue fine tuning the regex to capture all github and gitlab links. Because of the MD format I'm capturing the first url `https://cdn` and trailing text. Any clue how to handle this case? Otherwise all else looks good.

See screenshot:

![Screen Shot 2022-06-04 at 12 51 16 PM](https://user-images.githu

[2022-06-04 20:21] dev-abir commented on #1011
Ah yes I was thinking to tell you about this... You may capture exactly everything after ```](``` pattern, but this looks bit hacky.... Maybe better if you search for https://github.com, or gitlab.com....
At the top, declare a list of possible regexs...

[2022-06-07 08:13] Delroy09 opened #1079 "Random"
Um is anything wrong in this? Ive just started learning .py recently

[2022-06-07 08:14] #1079 closed

[2022-06-07 08:15] Delroy09 commented on #1079
my_age = 18
legal_age = 24

if my_age >= legal_age
print("You're Old")
else
print("Result : Pass")

[2022-08-12 06:26] Ayushikotiyal commented on #1011
Hey, I am a beginner and willing to contribute to the project. Can anybody explain to me how can I get started? :)

[2022-08-27 21:38] JC-swEng opened #1096 "Numpy no longer uses "Good first issue" label"
Per Numpy:

[Numpy pull request](https://github.com/numpy/numpy/commit/3fd32010997471314c32c6fa43b26456e2a3f171)

[2022-08-28 22:53] sdkdeepa commented on #1011
Hello, I would contribute to this.  Please let me know.

[2022-08-28 22:54] sdkdeepa commented on #1060
Hello! Could I contribute to this ?

[2022-08-29 23:40] #1050 closed

[2022-08-29 23:43] MunGell commented on #1069
Hi @Asantae @T-Wesst

Thank you for your work, I've incorporated it into the repository now!

[2022-08-29 23:43] #1069 closed

[2022-08-29 23:44] #1060 closed

[2022-08-29 23:45] MunGell commented on #1043
Hi @sid-r-singh

Thanks for this, Hugo is already in the list

[2022-08-29 23:45] #1043 closed

[2022-08-29 23:45] #693 closed

[2022-08-29 23:53] #1096 closed

[2022-08-30 13:37] MunGell commented on #1011
Hi everyone,

Thank you for expressing your interest and working on POC for automated list update.
Last night I've pushed a major update to this repository.
It introduces JSON file which works as a source for README.md lists.
The generation is done automatically though GitHub Actions.

There is still work to be done in automation (e.g. checking for duplicates on each new PR).
However, I suggest cl

[2022-08-30 13:37] #1011 closed

[2022-08-30 13:38] MunGell commented on #1023
Hi @Hetarth02

Sorry for the delay. Can you share link to your project repository?

[2022-09-12 06:02] UTKARSH8768 commented on #1068
hey i am utkarsh sharma can you please assign me a task to contribute in your project. This is for my open source project lab in my college .Contact me at my mail id sharmautkarsh19@siesgst.ac.in

[2022-09-12 12:56] vikas6767 opened #1101 "Hj"

[2022-09-12 14:58] #1101 closed

[2022-09-13 07:46] ntedgi opened #1104 "broken link url to CONTRIBUTING.md in github action"
![Screen Shot 2022-09-13 at 10 41 59](https://user-images.githubusercontent.com/31243793/189841755-829d0071-9557-4345-9269-65960e48d041.png)

this link not working and lead to :
https://github.com/MunGell/awesome-for-beginners/CONTRIBUTING.md
![Screen Shot 2022-09-13 at 10 45 50](https://user-images.githubusercontent.com/31243793/189841934-ae4318bf-ad06-439b-aecc-6649fb4ae7a9.png)

[2022-09-14 03:44] NitinRana-code commented on #1104
This link is wrong https://github.com/MunGell/awesome-for-beginners/CONTRIBUTING.md

Right link is https://github.com/MunGell/awesome-for-beginners/blob/main/CONTRIBUTING.md

[2022-09-14 03:47] ntedgi commented on #1104
You right need to update github action as well

[2022-09-14 03:51] NitinRana-code commented on #1104
sorry but it is my time i don't know how to do that can you teach me how to update action please

[2022-09-14 04:08] ntedgi commented on #1104
Fork this project
Go to .github/
Edit the right action
Commit
Push
Open PR

On Wed, 14 Sep 2022 at 6:52 Nitin Rana ***@***.***> wrote:

[2022-09-14 14:08] MunGell commented on #1104
Thanks for the fix!

[2022-09-14 14:08] #1104 closed

[2022-09-19 13:53] TedVu opened #1114 "Duplicate TypeScript topics"
Not sure if I missed anything but there seem to be duplicate TypeScript topics.
![image](https://user-images.githubusercontent.com/36873497/191033711-920517db-5740-4864-a055-e4dc08c0ebab.png)

[2022-09-19 14:01] MunGell commented on #1114
Uh-oh, thanks for flagging this!
My mistake, will correct in the next build!

[2022-09-25 16:06] VarunBanka opened #1119 "Adding my projects in this list"
Hey!!!
Greetings of the day, how can I add my projects in the list?
Thanks and regards

[2022-09-26 17:53] #1114 closed

[2022-09-27 04:17] akshitagupta15june opened #1121 "Adding Face-X project under python list"

[2022-09-30 11:36] noraj opened #1127 "non-code category"
Hi,

I have a website that is an Inventory of Cybersecurity tools and resources (https://inventory.raw.pm/).

Of course there are a few opportunities for Pug, Javascript/Jquery, but most of the beginer friendly issues are just adding data in JSON.

https://gitlab.com/rawsec/rawsec-cybersecurity-list/-/issues/?label_name%5B%5D=difficulty%3A%3Aeasy

- https://inventory.raw.pm/contribute.html
- https

[2022-10-01 09:00] tamalchowdhury commented on #1119
Edit the data.json file and add your project under the repositories array.

[2022-10-01 09:03] VarunBanka commented on #1119
Alright okay. Thanks.

[2022-10-01 09:03] #1119 closed

[2022-10-01 18:12] keshav-rockwinder commented on #1127
can you please elaborate your problem? and request this issue to me
?

[2022-10-01 19:12] noraj commented on #1127
The project sort projects by languages

![image](https://user-images.githubusercontent.com/16578570/193424621-47fe5e46-55cb-418a-ac04-da0e29cb2877.png)

same in https://github.com/MunGell/awesome-for-beginners/blob/main/data.json

but my project is a website, there is not much code to contribute to but rather adding data as JSON, 99% of the contributions are not code. But I guess it could be the s

[2022-10-03 05:38] SuryanshSinha2612 commented on #1127
I am submitting a pull request please accept it

[2022-10-04 05:21] Gun2902 commented on #1127
i want to contribute in this project

[2022-10-04 10:05] Ultron03 opened #1170 "Adding Information for Beginner in Perl"

[2022-10-04 20:11] NotSooShariff commented on #1068
Hey, can you please assign me a task to contribute? I would love to add some beginner-friendly projects in c#.

[2022-10-06 12:28] GauravPatil8778 commented on #1170
I will add some introductory part of perl!!

[2022-10-06 16:39] abhint1 commented on #1170
I can some introductory part of perl , please assign it to me

[2022-10-08 07:07] GuyEternal commented on #1127
I think there is a way to create a non-code category named json? @noraj

[2022-10-08 14:16] abhinav17apr commented on #1127
i want to contribute in this

[2022-10-08 15:27] SusavanMondal commented on #1170
Hello,
I can contribute to my best in this issue. Can you please assign this task to me?

[2022-10-09 02:24] Rohitchaudhary13 opened #1191 "Add qwik.js in Js"
Let's add another famous framework. Qwik offers the fastest possible page load times - regardless of the complexity of your website. Qwik is so fast because it allows fully interactive sites to load with almost no JavaScript and pick up from where the server left off
. As users interact with the site, only the necessary parts of the site load on demand. This precision lazy-loading is what makes Qw

[2022-10-09 08:12] Dhanunjay18 commented on #1191
Hello i want to add hacktoberfest label to it @Rohitchaudhary13

[2022-10-09 08:13] Dhanunjay18 commented on #1170
Hello i want to add hacktoberfest label to it @Rohitchaudhary13

[2022-10-09 18:30] #1191 closed

[2022-10-11 18:35] PrathameshTheurkar commented on #1127
I would like to contribute in this project.

[2022-10-11 23:30] TechWiz-3 opened #1205 "Ansible in this list"
Simple question: how on earth is Ansible a good project to contribute to for beginners??

[2022-10-12 17:31] Auti29 commented on #1205
Ansible is a software tool that enables cross-platform automation and orchestration at scale and has become over the years the standard choice among enterprise automation solutions.

[2022-10-12 23:29] TechWiz-3 commented on #1205
Like you said they're a huge project, how could contributing such a massive project be beginner friendly?

[2022-10-14 13:41] shyambaral commented on #1068
hey can you assign this code to me

[2022-10-14 14:07] #1068 closed, assigned to nobody

[2022-10-17 02:16] Meghwantsingh commented on #1121
I would like to try this project. Assign this to me specify the need.

[2022-10-17 11:39] konan625 commented on #1121
I want to work on this project , please can you assign this to me?

[2022-10-18 09:47] abhi87374 commented on #1127
I WANT TO CONTRIBUTE

[2022-10-20 08:30] Phobos-crashing opened #1222 "Beginners"

[2022-10-20 08:32] #1222 closed

[2022-10-21 08:52] Kissaki opened #1226 "Invalid OpenRA reference"
OpenRA [has no such label ‘Easy’](https://github.com/OpenRA/OpenRA/labels?q=Easy). I see no equivalent label either.

[2022-10-23 06:38] Ayan-09 opened #1228 "Random Number Guessing Game using python."
Pls Assign me this issue under hactoberfest.

[2022-10-23 15:21] ldcss commented on #1228
can you assign me this issue? it would be very helpful. thanks

[2022-10-23 18:14] ashioyajotham opened #1234 "Adding machine learning in the Python track"
I suggest a simple machine learning project in Python for beginners of course

[2022-10-23 18:18] ashioyajotham opened #1235 "Books / materials for reference"
I suggest we include simple materials ie books(pdf, kindle etc), tutorial videos, moocs for reference and help in study

[2022-10-24 06:25] uniquebhim commented on #1228
Please assign me this issue so that I can pull my first request. it would help me a lot

[2022-10-24 15:39] TiffanyClark commented on #1235
I like to work on this request. What file should I add the resources to?

[2022-10-24 17:25] TriJayDore commented on #1235
I would like to work on this issue .
Please let me know reference or example materials to be added?

[2022-10-24 18:25] ashioyajotham commented on #1235
Introduction stuff, DSA to begin with

[2022-10-27 11:37] harshjv7981 commented on #1234
Can you assign me to this issue?

[2022-10-27 17:31] ivaibhavraheja commented on #1228
can you assign me this issue?

[2022-11-04 21:23] B-uchi commented on #1228
Kindly assign this to me

[2022-11-29 11:20] payalpm commented on #1228
I want to contribute bcz this is my first contribution
Can u assign me this issue